In [2]:
import pandas as pd

In [47]:
df = pd.read_html('https://www.skysports.com/premier-league-table')
df

[     #                      Team  Pl   W  D   L   F   A  GD  Pts  Last 6
 0    1           Manchester City  21  17  2   2  53  13  40   53     NaN
 1    2                   Chelsea  21  12  7   2  45  16  29   43     NaN
 2    3                 Liverpool  20  12  6   2  52  18  34   42     NaN
 3    4                   Arsenal  20  11  2   7  33  25   8   35     NaN
 4    5           West Ham United  20  10  4   6  37  27  10   34     NaN
 5    6         Tottenham Hotspur  18  10  3   5  23  20   3   33     NaN
 6    7         Manchester United  19   9  4   6  30  27   3   31     NaN
 7    8   Wolverhampton Wanderers  19   8  4   7  14  14   0   28     NaN
 8    9  Brighton and Hove Albion  19   6  9   4  20  20   0   27     NaN
 9   10            Leicester City  18   7  4   7  31  33  -2   25     NaN
 10  11            Crystal Palace  20   5  8   7  29  30  -1   23     NaN
 11  12                 Brentford  19   6  5   8  23  26  -3   23     NaN
 12  13               Aston Villa  19   7  1  11  25  30  -5   22     NaN
 13  14               Southampton  19   4  9   6  20  29  -9   21     NaN
 14  15                   Everton  18   5  4   9  23  32  -9   19     NaN
 15  16              Leeds United  19   4  7   8  21  37 -16   19     NaN
 16  17                   Watford  18   4  1  13  22  36 -14   13     NaN
 17  18                   Burnley  17   1  8   8  16  27 -11   11     NaN
 18  19          Newcastle United  19   1  8  10  19  42 -23   11     NaN
 19  20              Norwich City  19   2  4  13   8  42 -34   10     NaN]

In [48]:
table = df[0].drop(columns=['Last 6'])
table

     #                      Team  Pl   W  D   L   F   A  GD  Pts
0    1           Manchester City  21  17  2   2  53  13  40   53
1    2                   Chelsea  21  12  7   2  45  16  29   43
2    3                 Liverpool  20  12  6   2  52  18  34   42
3    4                   Arsenal  20  11  2   7  33  25   8   35
4    5           West Ham United  20  10  4   6  37  27  10   34
5    6         Tottenham Hotspur  18  10  3   5  23  20   3   33
6    7         Manchester United  19   9  4   6  30  27   3   31
7    8   Wolverhampton Wanderers  19   8  4   7  14  14   0   28
8    9  Brighton and Hove Albion  19   6  9   4  20  20   0   27
9   10            Leicester City  18   7  4   7  31  33  -2   25
10  11            Crystal Palace  20   5  8   7  29  30  -1   23
11  12                 Brentford  19   6  5   8  23  26  -3   23
12  13               Aston Villa  19   7  1  11  25  30  -5   22
13  14               Southampton  19   4  9   6  20  29  -9   21
14  15                   Everton  18   5  4   9  23  32  -9   19
15  16              Leeds United  19   4  7   8  21  37 -16   19
16  17                   Watford  18   4  1  13  22  36 -14   13
17  18                   Burnley  17   1  8   8  16  27 -11   11
18  19          Newcastle United  19   1  8  10  19  42 -23   11
19  20              Norwich City  19   2  4  13   8  42 -34   10

In [49]:
import datetime

table['Date'] = datetime.date.today()
table['Date']

0     2022-01-10
1     2022-01-10
2     2022-01-10
3     2022-01-10
4     2022-01-10
5     2022-01-10
6     2022-01-10
7     2022-01-10
8     2022-01-10
9     2022-01-10
10    2022-01-10
11    2022-01-10
12    2022-01-10
13    2022-01-10
14    2022-01-10
15    2022-01-10
16    2022-01-10
17    2022-01-10
18    2022-01-10
19    2022-01-10
Name: Date, dtype: object

In [50]:
table

     #                      Team  Pl   W  D   L   F   A  GD  Pts        Date
0    1           Manchester City  21  17  2   2  53  13  40   53  2022-01-10
1    2                   Chelsea  21  12  7   2  45  16  29   43  2022-01-10
2    3                 Liverpool  20  12  6   2  52  18  34   42  2022-01-10
3    4                   Arsenal  20  11  2   7  33  25   8   35  2022-01-10
4    5           West Ham United  20  10  4   6  37  27  10   34  2022-01-10
5    6         Tottenham Hotspur  18  10  3   5  23  20   3   33  2022-01-10
6    7         Manchester United  19   9  4   6  30  27   3   31  2022-01-10
7    8   Wolverhampton Wanderers  19   8  4   7  14  14   0   28  2022-01-10
8    9  Brighton and Hove Albion  19   6  9   4  20  20   0   27  2022-01-10
9   10            Leicester City  18   7  4   7  31  33  -2   25  2022-01-10
10  11            Crystal Palace  20   5  8   7  29  30  -1   23  2022-01-10
11  12                 Brentford  19   6  5   8  23  26  -3   23  2022-01-10
12  13               Aston Villa  19   7  1  11  25  30  -5   22  2022-01-10
13  14               Southampton  19   4  9   6  20  29  -9   21  2022-01-10
14  15                   Everton  18   5  4   9  23  32  -9   19  2022-01-10
15  16              Leeds United  19   4  7   8  21  37 -16   19  2022-01-10
16  17                   Watford  18   4  1  13  22  36 -14   13  2022-01-10
17  18                   Burnley  17   1  8   8  16  27 -11   11  2022-01-10
18  19          Newcastle United  19   1  8  10  19  42 -23   11  2022-01-10
19  20              Norwich City  19   2  4  13   8  42 -34   10  2022-01-10

In [51]:
table.to_csv('table.csv',index=False)
retable = pd.read_csv('table.csv')
retable

     #                      Team  Pl   W  D   L   F   A  GD  Pts        Date
0    1           Manchester City  21  17  2   2  53  13  40   53  2022-01-10
1    2                   Chelsea  21  12  7   2  45  16  29   43  2022-01-10
2    3                 Liverpool  20  12  6   2  52  18  34   42  2022-01-10
3    4                   Arsenal  20  11  2   7  33  25   8   35  2022-01-10
4    5           West Ham United  20  10  4   6  37  27  10   34  2022-01-10
5    6         Tottenham Hotspur  18  10  3   5  23  20   3   33  2022-01-10
6    7         Manchester United  19   9  4   6  30  27   3   31  2022-01-10
7    8   Wolverhampton Wanderers  19   8  4   7  14  14   0   28  2022-01-10
8    9  Brighton and Hove Albion  19   6  9   4  20  20   0   27  2022-01-10
9   10            Leicester City  18   7  4   7  31  33  -2   25  2022-01-10
10  11            Crystal Palace  20   5  8   7  29  30  -1   23  2022-01-10
11  12                 Brentford  19   6  5   8  23  26  -3   23  2022-01-10
12  13               Aston Villa  19   7  1  11  25  30  -5   22  2022-01-10
13  14               Southampton  19   4  9   6  20  29  -9   21  2022-01-10
14  15                   Everton  18   5  4   9  23  32  -9   19  2022-01-10
15  16              Leeds United  19   4  7   8  21  37 -16   19  2022-01-10
16  17                   Watford  18   4  1  13  22  36 -14   13  2022-01-10
17  18                   Burnley  17   1  8   8  16  27 -11   11  2022-01-10
18  19          Newcastle United  19   1  8  10  19  42 -23   11  2022-01-10
19  20              Norwich City  19   2  4  13   8  42 -34   10  2022-01-10

In [52]:
append = pd.DataFrame.append(retable, table)
append

     #                      Team  Pl   W  D   L   F   A  GD  Pts        Date
0    1           Manchester City  21  17  2   2  53  13  40   53  2022-01-10
1    2                   Chelsea  21  12  7   2  45  16  29   43  2022-01-10
2    3                 Liverpool  20  12  6   2  52  18  34   42  2022-01-10
3    4                   Arsenal  20  11  2   7  33  25   8   35  2022-01-10
4    5           West Ham United  20  10  4   6  37  27  10   34  2022-01-10
5    6         Tottenham Hotspur  18  10  3   5  23  20   3   33  2022-01-10
6    7         Manchester United  19   9  4   6  30  27   3   31  2022-01-10
7    8   Wolverhampton Wanderers  19   8  4   7  14  14   0   28  2022-01-10
8    9  Brighton and Hove Albion  19   6  9   4  20  20   0   27  2022-01-10
9   10            Leicester City  18   7  4   7  31  33  -2   25  2022-01-10
10  11            Crystal Palace  20   5  8   7  29  30  -1   23  2022-01-10
11  12                 Brentford  19   6  5   8  23  26  -3   23  2022-01-10
12  13               Aston Villa  19   7  1  11  25  30  -5   22  2022-01-10
13  14               Southampton  19   4  9   6  20  29  -9   21  2022-01-10
14  15                   Everton  18   5  4   9  23  32  -9   19  2022-01-10
15  16              Leeds United  19   4  7   8  21  37 -16   19  2022-01-10
16  17                   Watford  18   4  1  13  22  36 -14   13  2022-01-10
17  18                   Burnley  17   1  8   8  16  27 -11   11  2022-01-10
18  19          Newcastle United  19   1  8  10  19  42 -23   11  2022-01-10
19  20              Norwich City  19   2  4  13   8  42 -34   10  2022-01-10
0    1           Manchester City  21  17  2   2  53  13  40   53  2022-01-10
1    2                   Chelsea  21  12  7   2  45  16  29   43  2022-01-10
2    3                 Liverpool  20  12  6   2  52  18  34   42  2022-01-10
3    4                   Arsenal  20  11  2   7  33  25   8   35  2022-01-10
4    5           West Ham United  20  10  4   6  37  27  10   34  2022-01-10
5    6         Tottenham Hotspur  18  10  3   5  23  20   3   33  2022-01-10
6    7         Manchester United  19   9  4   6  30  27   3   31  2022-01-10
7    8   Wolverhampton Wanderers  19   8  4   7  14  14   0   28  2022-01-10
8    9  Brighton and Hove Albion  19   6  9   4  20  20   0   27  2022-01-10
9   10            Leicester City  18   7  4   7  31  33  -2   25  2022-01-10
10  11            Crystal Palace  20   5  8   7  29  30  -1   23  2022-01-10
11  12                 Brentford  19   6  5   8  23  26  -3   23  2022-01-10
12  13               Aston Villa  19   7  1  11  25  30  -5   22  2022-01-10
13  14               Southampton  19   4  9   6  20  29  -9   21  2022-01-10
14  15                   Everton  18   5  4   9  23  32  -9   19  2022-01-10
15  16              Leeds United  19   4  7   8  21  37 -16   19  2022-01-10
16  17                   Watford  18   4  1  13  22  36 -14   13  2022-01-10
17  18                   Burnley  17   1  8   8  16  27 -11   11  2022-01-10
18  19          Newcastle United  19   1  8  10  19  42 -23   11  2022-01-10
19  20              Norwich City  19   2  4  13   8  42 -34   10  2022-01-10

## Merged into a Reccuring Function

In [44]:
import pandas as pd
import datetime
import time

In [38]:
# Run once to get original table
df = pd.read_html('https://www.skysports.com/premier-league-table')
table = df[0].drop(columns=['Last 6'])
table['Date'] = datetime.date.today()
table.to_csv('table.csv', index=False)

In [42]:
def addnewstandings() :
    df = pd.read_html('https://www.skysports.com/premier-league-table')
    table = df[0].drop(columns=['Last 6'])
    table['Date'] = datetime.date.today()
    nohead = pd.read_csv('table.csv')
    append = pd.DataFrame.append(nohead, table)
    append.to_csv('table.csv', index=False)

In [46]:
while(True):
    addnewstandings()
    time.sleep(60*60*24*7) #Updates every week

KeyboardInterrupt: